body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
}

@media screen and (max-width: 768px) {
    #character {
        width: 120px !important;
        height: 120px !important;
        bottom: 55px !important;
    }

    .fallingEmoji {
        width: 50px !important;
        height: 50px !important;
    }
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('home screen.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

#playButton {
    font-family: 'Press Start 2P', sans-serif;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#playButton:hover {
    background-color: #c0392b;
}

#welcomeMessage {
    font-size: 36px;
    margin-bottom: 20px;
}

#gameArea {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#character {
    width: 165px;
    height: 165px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('pixel fox.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.fallingEmoji {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("pixel rock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: fall 3s linear infinite;
}

#lives, #score {
    position: absolute;
    top: 10px;
    font-size: 20px;
    color: white;
    z-index: 10;
}

#lives {
    right: 10px;
}

#score {
    left: 10px;
}


@keyframes fall {
    0% {
        top: -50px;
    }
    100% {
        top: 100%;
    }
}

#gameOverScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    display: none;
    z-index: 9999;
}

#gameOverText {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 15%;
}

#restartButton {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Press Start 2P', sans-serif;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #e53935;
}

.hidden {
    display: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
